@charset "utf-8";
@font-face {
	font-family: "Tahoma di Asino";
	src: url("../fonts/Tahoma.otf") format("opentype"), url("../fonts/Tahoma.woff") format("woff");
}
* {
	font-family: Tahoma di Asino !important;
}
